* {
    box-sizing: border-box;
}

/* e71422 */

html, body {
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', Lato, Open Sans, sans-serif;
}


.content {
    margin: 30px auto;
    width: 100%;
    max-width: 420px;
}

.logo {
    width: 96px;
    height: 96px;
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.logo--header {
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.header {
    font-family: 'Circle', 'Roboto', Lato, Open Sans, sans-serif;
    font-weight: bold;
    color: #e71422;
    font-size: 36px;
    text-align: left;
    padding: 0 15px;
    margin: 0;
    margin-bottom: 5px;
}

.subheader {
    font-size: 16px;
    color: #797979;
    padding: 0 15px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
}

.pickLink {
    font-size: 14px;
    color: #e71422;
    text-decoration: none;
    font-family: 'Circle', 'Roboto', Lato, Open Sans, sans-serif;
}

.positive {
    color: #03DF86;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-box-shadow: 0;
    background-color: transparent!important;
    transition: background-color 5000s ease-in-out 0s;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}


@import './lifelines.css';
@import './fonts.css';
