.lifelinesGroup {
    width: calc(100% - 30px);
    padding: 15px 20px;
    border: 2px solid rgb(235,235,235);
    border-radius: 5px;
    margin: 15px;
}

.lifelinesHeader {
    display: block;
    font-weight: normal;
    font-size: 24px;
    color: #e71422;
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Circle', 'Roboto', Lato, Open Sans, sans-serif;
}

.lifelinesSubheader {
    display: block;
    color: #797979;
    font-size: 16px;
    margin: 0;
    font-weight: normal;
    margin-bottom: 20px;
}

.lifelines {
    display: flex;
    flex-direction: row;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.lifeline {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 0;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff;
    height: 42px;
    width: 42px;
}

.lifeline:not(:first-child) {
    margin-left: -21px;
}

.lifeline img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lifelineRow {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.lifelineRow:first-child {
    flex-grow: 1;
}

.lifelineRow:last-child {
    flex-grow: 0;
    flex-shrink: 1;
}
